* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
}
.content-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-section .main-content {
  background: lightpink;
}
.content-section .sidebar-content {
  background: lightblue;
}
